.page-card-container {
    margin-top: 50px;
    padding: 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.filter-container {
    width: fit-content;
    text-align: left;
}

.inventory-chart-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vw;

    width: 100%;
    max-width: 75vw;

    padding: 16px 10vw;

    * {
        flex: 1;
    }
}